/*

!/.bash_aliases
!/.bash_logout
!/.bashrc
!/.gitignore
!/README.md

!/.bin
/.bin/*

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/fetch-gpu-containers
!/.local/bin/hadolint
!/.local/bin/init-dotfiles
!/.local/bin/smb-format

!/.dotfiles-init
/.dotfiles-init/*
!/.dotfiles-init/README.md
!/.dotfiles-init/windows.ps1
!/.dotfiles-init/step005_install_salt
!/.dotfiles-init/step006_install_python

!/.vscode
/.vscode/*
!/.vscode/extensions.json
!/.vscode/project-words.md
!/.vscode/settings.json
