/*

!/.bash_aliases
!/.bash_logout
!/.bashrc
!/.gitignore
!/README.md

!/.bin
/.bin/*

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/fetch-gpu-containers
!/.local/bin/hadolint
!/.local/bin/init-dotfiles
