/*

!/.bash_aliases
!/.bash_logout
!/.bashrc
!/.gitignore
!/README.md

!/.bin
/.bin/*

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/fetch-gpu-containers
!/.local/bin/hadolint
!/.local/bin/init-dotfiles
!/.local/bin/smb-format

!/.dotfiles-init
/.dotfiles-init/*
!/.dotfiles-init/README.md
!/.dotfiles-init/linux.sh
!/.dotfiles-init/linux_utils.sh
!/.dotfiles-init/windows.ps1
!/.dotfiles-init/windows_utils.psm1
!/.dotfiles-init/step005_setup_git
!/.dotfiles-init/step006_setup_powershell
!/.dotfiles-init/step007_setup_winget
!/.dotfiles-init/step008_install_vs_code
!/.dotfiles-init/step009_install_python
!/.dotfiles-init/step010_install_rust

!/.vscode
/.vscode/*
!/.vscode/extensions.json
!/.vscode/project-words.md
!/.vscode/settings.json
